<h1>Arrays</h1>
Arrays in Java are also objects. They need to be declared and then created. In order to declare a variable that will hold an array of integers, we use the following syntax:

<pre>int[] arr;</pre>
Notice there is no size, since we didn't create the array yet.

<pre>arr = new int[10];</pre>
This will create a new array with the size of 10. We can check the size by printing the array's length:

<pre>System.out.println(arr.length);</pre>
We can access the array:
<pre>
arr[0] = 4;
arr[1] = arr[0] + 5;
</pre>
We can also create an array with values in the same line:
<pre>
int[] arr = {1, 2, 3, 4, 5};</pre>
Don't try to print the array without a loop, it will print something nasty like [I@f7e6a96.<br>


<br>

<p><h3><%= link_to 'Back', statuses_path %>       </h3> </p>