<h2> Test Yourself </h2>
<br>
<br>
<p>
  <b>1. Object oriented programming means :</b>
</p>
<ol>
  <li> Designing the application based on the objects discovered when analysing the problem </li>
  <li>Writing an algorithm before writing your program and having a test plan </li>
  <li>Writing a program composed of Java classes </li>
  <li> Being objective about what you develop </li>
</ol>
<br>
<p>
  <b>2. Which is not a part of defining an object? </b>
</p>
<ol>
  <li> Description </li>
  <li>Methods </li>
  <li>Associations with other objects </li>
  <li> Name </li>
</ol>
<p><b>3. Every comparison operator in java will return the type: </b>
</p>
<ol>
  <li> Boolean  </li>
  <li>Integer </li>
  <li> Double</li>
  <li> String</li>
</ol>

<p>
  <b>4. What displays from the following statements? String word = "abcde"; for (int i = 0; i <4; i+=2) System.out.print(word[i]);</b>
</p>
<ol>
  <li>ab  </li>
  <li>ace</li>
  <li> bd</li>
  <li> ac</li>
</ol>

<p>
  <b> 5. When we are using objects and want to check if they are equal, _____ wiil say if they are the same, if you want to check if they are logically equal, you should use the ________ on the object.</b>
</p>
<ol>
  <li> ===, equals method </li>
  <li>==, ===</li>
  <li> equals method, ==</li>
  <li> ==, equals method</li>
</ol>
<p>


<p>
  <b> 6. _______ means this method belongs to the class Main and not to a specific instance of Main.</b>
</p>

<p>
  <b>7. We can define more than 1 constructor </b>
</p>
<ol>
  <li> True </li>
  <li> False </li>
</ol>
<p>
  <b> 8. When using the keyword __________ before a variable or a method, it means only the class itself can access the variable or method, when we're using _________ it means everybody can access it.</b>
</p>
<ol>
  <li> Public,Protected </li>
  <li> Public, Private </li>
  <li> Protected, Public </li>
  <li> Private, Public </li>
</ol>


<b> 9. In order to compile a java code we use _______ followed by <filename>.java, in order to run it, we use _______ followed by <filename></b>
</p>
<ol>
  <li>javac,java </li>
  <li> java, javac </li>
  <li> compile, run </li>
  <li> jcompile, jrun </li>
</ol>
<p>
  <b> 10. Given the declaration : int [ ] ar = {1,2,3,4,5}; What is the value of ar[4]?</b>
</p>
<ol>
  <li> 2 </li>
  <li> 3 </li>
  <li> 4 </li>
  <li> 5 </li>
</ol>


